<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xbox_Discord_Presence.UserConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Xbox_Discord_Presence.UserConfiguration>
            <setting name="Gamertag" serializeAs="String">
                <value />
            </setting>
            <setting name="API" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </Xbox_Discord_Presence.UserConfiguration>
    </userSettings>
</configuration>